@model IEnumerable<OpenApiModel>
@{
    ViewData["Title"] = "GetAllTransaction";


}

<h1>Open Api Hub </h1>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create </button>

</p>
<table class="table table-hover ">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Version</td>
            <td>Title</td>
            <td>Description</td>
            <td>Visibility</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {<tr>

            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Version</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Visibility.ToString()</td>
            <td><a asp-action="Configure" asp-route-id="@item.Id"  class="btn btn-warning"><i class="fa fa-wrench"></i>Config</a></td>
        </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="OpenApi" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" name="Name" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Title:</label>
                                <input type="text" class="form-control" name="Title" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Version:</label>
                                <input type="text" class="form-control" name="Version" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Visibility:</label>
                                <select class="form-control" name="Visibility" asp-items="@Html.GetEnumSelectList<VisibilityEnum>()">
                                    <option value="">-- Select --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea rows="8" type="text" class="form-control" name="Description"></textarea>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary">Create New</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>



